main {
    display: flex;
    margin-top: 1.5rem;
    flex-direction: row;
}

.breadcrumb-heading {
    margin-left: 1.25rem;
    margin-bottom: 0%;
}

.breadcrumb-subheading {
    margin: 0.5rem auto 1.2rem 1.25rem;
    font-weight: lighter;
    font-family: sans-serif;
}

.breadcrumb-division {
    background-color: white;
    margin-left: 2rem;
    border-radius: 1.4rem;
    width: 19rem;
    padding-bottom: 1rem;
}

.selection-division {
    margin-top: 0%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 4.1rem;
}

.activeSelection {
    background-color: #8a37b0;
}

.icon {
    height: 2.5rem;
    font-size: 2.3rem;
    padding-left: 1rem;
}

.activeicon {
    color: white;
}

.notactiveicon {
    color: #4f5961;
    opacity: 0.5;
}

.completedicon {
    opacity: 0.7;
}

.checklogo {
    padding-right: 1rem;
}

.notactivecheck {
    visibility: hidden;
}

.activecheck {
    visibility: hidden;
}

.completedcheck {
    visibility: visible;
    color: #1bbf36;
}

.namedivision {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
    width: 21rem;
    margin-left: 1.2rem;
}

.label {
    margin: 0%;
    padding: 0%;
    color: black;
    align-content: center;
    font-weight: 500;
    font-size: 1.1rem;
}

.notactivelabel {
    color: #4f5961;
    opacity: 0.6;
}

.activelabel {
    color: white;
}

.notactivesublabel {
    color: #4f5961;
    opacity: 0.6;
}

.activesublabel {
    color: white;
}

.completedlabel {
    color: #1bbf36;
}

.sublabel {
    margin: 0%;
    padding: 0%;
    font-size: 0.8rem;
    font-weight: 400;
}

.products-screen {
    background-color: white;
    border-radius: 1.4rem;
    width: 55rem;
    margin-left: 1.7rem;
}

@media (max-width:359px) {
    main {
        flex-direction: column;
    }
}