main 
{
    display: flex;
    margin-top: 27px;
    flex-direction: row;
}
h3 
{
    margin-left: 12px;
}

h5 {
    margin: 0px;
    margin-left: 12px;
    margin-bottom: 20px;
    font-weight: lighter;
    font-family: sans-serif
}

.breadcrumb-division 
{
    background-color: white;
    margin-left: 30px;
    border-radius: 20px;
    width: 278px;
    padding-bottom: 20px;
    padding-left: 15px;
}
.selection-division {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 65px;
   
}
.icon
{
    height: 35px;
    font-size: 35px;
    margin-left: 5px;
}
.checklogo
{
    padding-right: 10px;
}
.namedivision
{
    width:250px;
    margin-left: 18px;;
}
.label
{
    display: flex;
    flex-direction: column;
    color: black;
    align-content: center;
    height: 40px;
    font-weight: 500;
    font-size: 18px;
   
}
.sublabel 
{
    margin-top: 0px;
    font-size: 13px;
    font-weight: 400;
}
.products-screen 
{
    background-color: white;
    border-radius: 20px;
    width: 900px;
    margin-left: 30px;
}
@media (max-width:359px) {
    main {
        flex-direction: column;
    }
    .list {
        width: 820px;
    }
}